<span class = "container">
    <img class = "info-image" src="/src/assets/images/infopic.jpg">
</span>
<h1>What is the Capstone Exposition?</h1>
<span class = "info-text">
    The Capstone Exposition is a culminating course offered to undergraduate students
     in several disciplines at the Georgia Institute of Technology. Students work in teams to design,
     build, and test prototypes with real world applications. The Capstone Exposition also gives students the
     opportunity to present their innovative projects and results to leave lasting impressions on potential employers.
</span>
<!-- <span>
  <img class = "info-image" src="../../../assets/images/support.png">
</span> -->
