.vote-button {
  background-color: forestgreen;
  color: white;
}

.comment-button {
  background-color: royalblue;
  color: white;
}
.divider {
  width: 5px;
}

.team-members-div {
  word-wrap: break-word;
}
.huehue {
  display: flex !important;
}
.search-form {
  min-width: 90%;
  max-width: 500px;
  width: 90%;
}

.search-full-width {
  width: 100%;
}

.magnifying-glass {
  margin-left: 30vh;
}