.cast-comment-button {
    background-color: forestgreen;
    color: white;
  }
  
.cast-comment-button-container {
    justify-content: space-evenly;
}

.comment-title-dialog {
  color: #7720ec;
  font-family: Arial, Helvetica, sans-serif;
}

.dialog-full-width {
  width: 100%;
}


