canvas {
    // border: 1px dotted red;
    // height: 500px !important;
    // width: 900px !important;
}


div g rect.bar {
   fill: #80cbc4;
}

#container {
    background-color: #2F4A6D;
}

body div svg text {
    font-size: 12px;
    fill: #fff;
  }

.chart-container{
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}