<div>
  <div class="am-pm-switch-div">
    <div class="am-pm-switch">
        <mat-form-field class = "search-form">
            <input matInput [(ngModel)]="searchText" placeholder="Search Here">
            <!-- <mat-icon class = "magnifying-glass">mode_search</mat-icon> -->
          </mat-form-field>
    </div>
    
  </div>
  <div class = "fixed-panel-size">
      <mat-expansion-panel *ngFor="let project of projects | filter: searchText">
          <mat-expansion-panel-header class = "bgcolor">
            <mat-panel-title class = "panel-title">{{project.name}}</mat-panel-title>
          </mat-expansion-panel-header>
            <div layout="column">
              <h4>{{project.teamnumber}}</h4>
              <div>{{project.description}}</div>
              <br>
              <div class="team-members-div">
                <!-- Team Memebers: -->
                <!-- {{project.teamMembers.toString()}} -->
                <!--<li *ngFor="let members of project.teamMembers">-->
                  <!--{{members}}-->
                <!--</li>-->
              </div>
            </div>
          <mat-action-row>
            <button mat-raised-button class="comment-button"
                    (click)="comment(project)">
              Comment
            </button>
            <div class = "divider"></div>
            <button mat-raised-button class="vote-button"
                    (click)="castVote(project)">
              Vote Now
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        </div>
    </div>