.vote-button {
  background-color: Black;
  color: white;
}

.comment-button {
  background-color: #0A2239;
  color: white;
}
.divider {
  width: 5px;
}

.team-members-div {
  word-wrap: break-word;
}
.huehue {
  display: flex !important;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.magnifying-glass {
  margin-right: 20px;
}

.am-pm-switch {
  // float:right;
  
  
}
.panel-title {
  color: black;
}

.panel-bar {
  border: 5px;
}