<mat-toolbar color="primary">
  <span>CEVA Administrator</span>
  <div class="dropdown-div">
    <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="false" [(value)]="dataModel" [config]="config" [options]="expositionNames"></ngx-select-dropdown>
  </div>

  <span class="example-spacer"></span>
  <span>
      <button mat-button>
        Create
      </button>
  </span>
  <span>
      <button mat-button routerLink="expo/projects">
    Add Projects
  </button>
  </span>
  <span>
      <button mat-button routerLink="expo/results">
    View Results
  </button>
  </span>
  <span>
      <button mat-button routerLink="map/create">
    Add Map Details
  </button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
