.example-spacer {
  flex: 1 1 auto;
}

.dropdown-div {
  margin-left: 20px;
  width: 200px;
  height: auto;
  cursor: none;
}

.dropdown {
  margin-left: 20px;
  
  cursor: pointer;
}

.down-arrow {
  display: inline;
  font-size: 15px;
  position: relative;
  left: 5px;
  top: -1px;
}

body {
  margin: 0px !important;
}