<mat-toolbar color="primary">
  <span>CEVA Admin</span>
  <div class="dropdown" dropdown>
      <h1 class="dropdown-toggle" dropdownToggle>Exposition: {{selectedEvent.semester}} {{selectedEvent.year}} <div class="down-arrow">▼</div> </h1>
      <ul class="dropdown-menu" dropdownMenu>
          <li *ngFor="let event of events">
              <a (click)="clickedMenuItem(event)" dropdownToggle class="neat" rel="noopener" target="_blank">{{event.semester}} {{event.year}}</a>
          </li>
      </ul>
  </div>
  <span class="example-spacer"></span>
  <span>
      <button mat-button routerLink="expo/information">
        Expo Information
      </button>
  </span>
  <span>
      <button mat-button routerLink="expo/projects">
        Expo Projects
      </button>
  </span>
  <span>
      <button mat-button routerLink="expo/results">
    View Results
  </button>
  </span>
  <span>
      <button mat-button routerLink="map/create">
    Add Map Details
  </button>
  </span>
</mat-toolbar>

<!-- <div *ngFor="let event of events">
  {{ event }}
</div> -->

<router-outlet></router-outlet>
