.icon-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  margin-left: -8px;
}

.main-content-div {
  margin-bottom: 50px;
}

.icon-tabs {
  display: inline-flex;
  vertical-align: middle;
}

.tab-text {
  margin-bottom: -2px;
  margin-top: -2px;
}
// .center {
//   // transform: translate(-50%);
//   // top: 50%;
//   // margin-left: 37%;
//   margin-bottom: -15px;
// }
// .mat-button-toggle {
//   width: 47.5vw;
//   height: 25px;
// }

.container {
  display: flex;
  padding-left: 4px;
}

.ceva-placement {
  font-size: 30px;
}

.image-placement {
  width: 60vw;
  text-align: left;
  padding: inherit;

}

.group-placement {
  margin-right: -15px;
}