.file-uploaded-div {
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    
    width: 600px;
}

table {
    width: 70%;
    margin-left: 50px;
    margin-top: 50px;
}
.tableview {
    width: 100vw;
}